.layout-content {
  padding: 16px;
  height: 100%;
  background: #f8f9fa;
}

.menu-list ion-item {
  --padding-start: 12px;
  --inner-padding-end: 12px;
}

.menu-footer-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* Avatar dentro del popover */
.avatar-btn img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.popover-content {
  width: 220px;

  .user-box {
    text-align: center;
    padding: 10px;
  }

  .avatar-pop img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .user-data {
    margin-top: 6px;
    font-size: 13px;
    color: #444;
  }
}

/* Iniciales del usuario */
.initials {
  width: 40px;
  height: 40px;
  background: #673ab7;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Barra superior */
ion-toolbar {
  --background: #0061ff;
  --color: white;
}

/* ========== MENÚ LATERAL ========== */
.menu-list {
  padding-top: 10px;
}

/* ITEM DEL MENÚ */
.menu-item {
  --background: transparent;
  --border-radius: 12px;
  margin: 6px 12px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  --color: #232323;
  transition: 0.20s ease;
}

.menu-item ion-icon {
  color: #3d63ff;
  font-size: 22px;
}

/* HOVER EFECTO */
.menu-item:hover {
  --background: rgba(61, 99, 255, 0.15);
  transform: translateX(6px);
}

/* AVATAR (HEADER) */
ion-avatar {
  width: 45px !important;
  height: 45px !important;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  overflow: hidden;
}

ion-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Espaciado del avatar */
ion-buttons[slot="end"] {
  margin-right: 8px;
}
