.login-container {
  --background: #ffffff;
}

.login-wrapper {
  width: 90%;
  max-width: 360px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.login-logo {
  width: 160px;
  margin: 0 auto 20px auto;
  display: block;
}

.login-title {
  font-size: 22px;
  font-weight: bold;
  color: #0051ff;
  margin-bottom: 25px;
}

.btn-login {
  margin-top: 25px;
  height: 48px;
  font-size: 16px;
}

.btn-google {
  margin-top: 25px;
  height: 48px;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.toggle-icon {
  cursor: pointer;
}
