<ion-content class="ion-padding login-container">

  <div class="login-wrapper">

    <img src="assets/logo37.jpg" class="login-logo" />

    <h2 class="login-title">Iniciar Sesión</h2>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        [type]="showPassword ? 'text' : 'password'" 
        [(ngModel)]="password">
      </ion-input>

      <ion-icon 
        slot="end"
        [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
        class="toggle-icon"
        (click)="showPassword = !showPassword">
      </ion-icon>
    </ion-item>

    <ion-button expand="block" color="primary" class="btn-login" (click)="loginEmail()">
      INGRESAR
    </ion-button>

    <div class="center">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>


 

  </div>

</ion-content>
