.login-container {
  max-width: 380px;
  margin: 10% auto;
  text-align: center;
  h2 {
    margin-bottom: 20px;
    color: #004a7c;
  }
}

.divider {
  margin: 15px 0;
  text-align: center;
  font-weight: bold;
  color: #666;
}
