h2 {
  text-align:center;
  font-weight:600;
  margin-bottom:12px;
}

ion-item {
  margin-bottom:10px;
}

.btns {
  display:flex;
  flex-direction:column;
  gap:8px;
}

/* TARJETA DE OPCIONES */
.card-opciones {
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

/* TITULO DE LOS MODALES */
.titulo-modal {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* FORMULARIOS */
.formulario ion-item {
  --background: #efefef;
  border-radius: 10px;
  margin-bottom: 12px;
}
